<div class="user-account-form">
  <div class="page">
    <%= render 'shared/header' %>

    <div class="page-content-wrap">
      <div class="form-container">
        <div class="titles-container">
          <h2 class="title login-title">Log in </h2>
        </div>
        <div class="account-form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="fields-container">
              <div class="field">
                <%= f.label :email %><br />
                <div class="form-field-container">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <div class="form-field-container">
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-field" %>
                </div>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <div class="checkbox">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="actions account-button">
              <%= f.submit "Log in", class: 'shared-button' %>
            </div>
          <% end %>

          <div class="account-links">
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </div>
</div>



