<%= form_tag '/', :method => 'get' do %>
  <% @levels.each do |level| %>
    <%= check_box_tag "levels[]", level -%>
    <%= level.capitalize %>
  <% end %>

  <% @stacks.each do |stack| %>
    <%= check_box_tag "stacks[]", stack -%>
    <%= stack.capitalize %>
  <% end %>

  <%= submit_tag "Search" %>
<% end %>

<% @jobs.each do |job| %>
  <h1> <%= job.title %> </h1>
<% end %>
