<%= form_tag '/', :method => 'get' do %>
  <% @levels.each do |level| %>
    <%= check_box_tag "levels[]", level.id, checked = @selected_levels.include?(level.id) -%>
    <%= level.name.downcase.capitalize %>
  <% end %>

  <% @stacks.each do |stack| %>
    <%= check_box_tag "stacks[]", stack.id, checked = @selected_stacks.include?(stack.id) -%>
    <%= stack.name.downcase.capitalize %>
  <% end %>

  <select class="js-technologies" name="technologies[]" multiple="multiple">
    <% @technologies.each do |technology| %>
      <option value="<%= technology.id %>"><%= technology.name.downcase.capitalize %></option>
   <% end %>
  </select>

  <%= submit_tag "Search" %>
<% end %>

<% @jobs.each do |job| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= job.title %></h5>
      <p class="card-text">Technologies: <%= job.technologies.map{|t| t.name } %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<% end %>
