<h3 class="jobs-found">We have found <span class="jobs-count"><%= @jobs.count %></span> jobs</h3>

<div class="nothing-yet">
  <ul class=job-listings>
    <% @jobs.each do |job| %>
      <li class="job">
        <a class="job-details-container" href=<%= job.job_link %>>
          <div class="job-left">
            <span class="company"><%= job.company %></span>
            <span class="title"><%= job.title %></span>
            <span class="location"><%= job.location %></span>

            <% if job.rejected? %>
              </br>
              <span class="rejected-reason">Reason for rejection: <%= job.status_reason %> </span>
            <% end %>
          </div>
          <div class="job-right">
            <span class="posted">Posted <%= time_ago_in_words(job.created_at).remove("over") %> ago</span>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
