<table style="width:100%">
  <tr>
    <th>Date Scraped</th>
    <% @sites.each do |site| %>
      <th><%= site.gsub('_scraper', '').capitalize %></th>
    <% end %>
  </tr>
  <% @all_dates.each do |date| %>
    <tr>
      <td><%=date%></td>
      <% @sites.each do |site| %>
        <td>
          <%= Job.by_date_and_source(date, site.to_sym).count%>
          (<span class="rejected-count"><%= Job.by_date_and_source(date, site.to_sym, status: "rejected").count %></span>)
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2 class="approved-header"> Approved jobs stats </h2>

<div class="approved-container">
  <div class="approved-titles">
    <div>No requirements</div>
    <div>Requires degree only</div>
    <div>Requires experience only</div>
    <div>Requires degree & experience</div>
    <div>Total approved jobs</div>
  </div>

  <div class="approved-values">
    <div><%= @total_approved_jobs_with_no_requirements %></div>
    <div><%= @total_approved_jobs_requiring_only_degree %></div>
    <div><%= @total_approved_jobs_requiring_only_experience %></div>
    <div><%= @total_approved_jobs_requiring_degree_and_experience  %></div>
    <div><%= @total_approved_jobs %></div>
  </div>
</div>
