<table style="width:100%">
  <tr>
    <th>Date Scraped</th>
    <th>Indeed</th>
    <th>Google</th>
    <th>Stackoverflow</th>
    <th>Glassdoor</th>
    <th>CV Library</th>
    <th>Companies Direct</th>
    <th>Totaljobs</th>
    <th>Technojobs</th>
  </tr>
  <% @all_dates.each do |date| %>
    <tr>
      <td><%=date%></td>
      <td>
        <%= Job.by_date_and_source(date, :indeed).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :indeed, status: "rejected").count %></span>)
      </td>
      <td>
        <%= Job.by_date_and_source(date, :google).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :google, status: "rejected").count %></span>)
      </td>
      <td>
        <%= Job.by_date_and_source(date, :stackoverflow).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :stackoverflow, status: "rejected").count %></span>)
      </td>
      <td>
        <%= Job.by_date_and_source(date, :glassdoor).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :glassdoor, status: "rejected").count %></span>)
      </td>
      <td>
        <%= Job.by_date_and_source(date, :cv_library).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :cv_library, status: "rejected").count %></span>)
      </td>
      <td>
        <%= Job.by_date_and_source(date, :companies_direct).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :companies_direct, status: "rejected").count %></span>)
      </td>
      <td>
        <%= Job.by_date_and_source(date, :totaljobs).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :totaljobs, status: "rejected").count %></span>)
      </td>
      <td>
        <%= Job.by_date_and_source(date, :technojobs).count%>
        (<span class="rejected-count"><%= Job.by_date_and_source(date, :technojobs, status: "rejected").count %></span>)
      </td>
    </tr>
  <% end %>
</table>

<h2 class="approved-header"> Approved jobs stats </h2>

<div class="approved-container">
  <div class="approved-titles">
    <div>No requirements</div>
    <div>Requires degree only</div>
    <div>Requires experience only</div>
    <div>Requires degree & experience</div>
    <div>Total approved jobs</div>
  </div>

  <div class="approved-values">
    <div><%= @total_approved_jobs_with_no_requirements %></div>
    <div><%= @total_approved_jobs_requiring_only_degree %></div>
    <div><%= @total_approved_jobs_requiring_only_experience %></div>
    <div><%= @total_approved_jobs_requiring_degree_and_experience  %></div>
    <div><%= @total_approved_jobs %></div>
  </div>
</div>
