<table style="width:100%">
  <tr>
    <th>Date Scraped</th>
    <% @sites.each do |site| %>
      <th><%= site.gsub('_scraper', '').capitalize %></th>
    <% end %>
  </tr>
  <% @all_dates.each do |date| %>
    <tr>
      <td><%=date%></td>
      <% @sites.each do |site| %>
        <td>
          <div>Total Scraped: (<%= ScrapedJob.by_date_and_source(date, site.to_sym, status: :any).count %>)</div>
          <div class="total-count">Scraped S: (<%= Job.by_date_and_source(date, site.to_sym, status: "scraped").count %>)</div>
          <div class="rejected-count">Scraped R: (<%= ScrapedJob.by_date_and_source(date, site.to_sym, status: "approved").count %>)</div>
          <div class="approved-count">Scraped A: (<%= ScrapedJob.by_date_and_source(date, site.to_sym, status: "rejected").count %>)</div>
          <br>
          <div>Total Jobs: (<%= Job.by_date_and_source(date, site.to_sym, status: :any).count %>)</div>
          <div class="total-count">Job S: (<%= Job.by_date_and_source(date, site.to_sym, status: "scraped").count %>)</div>
          <div class="rejected-count">Job R: (<%= Job.by_date_and_source(date, site.to_sym, status: "rejected").count %>)</div>
          <div class="approved-count">Job A: (<%= Job.by_date_and_source(date, site.to_sym, status: "approved").count %>)</div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Key for above</h2>
<div> Scraped S = ScrapedJob's with the `scraped` status</div>
<div>Scraped R = ScrapedJob's with the `rejected` status</div>
<div>Scraped A = ScrapedJob's with the `approved` status</div>

<h2 class="approved-header"> Combined stats </h2>

<div class="approved-container">
  <div class="approved-titles">
    <div>Total ScrapedJobs</div>
    <div>Total scraped ScrapedJobs</div>
    <div>Total rejected ScrapedJobs</div>
    <div>Total approved ScrapedJobs</div>
    <div>Total Jobs</div>
    <div>Total scraped Jobs</div>
    <div>Total rejected Jobs</div>
    <div>Total approved Jobs</div>
  </div>

  <div class="approved-values">
    <div><%= ScrapedJob.count %></div>
    <div><%= ScrapedJob.scraped_jobs.count %></div>
    <div><%= ScrapedJob.approved_jobs.count %></div>
    <div><%= ScrapedJob.rejected_jobs.count %></div>
    <div><%= Job.count %></div>
    <div><%= Job.scraped_jobs.count %></div>
    <div><%= Job.approved_jobs.count %></div>
    <div><%= Job.rejected_jobs.count %></div>
  </div>
</div>
