<%= javascript_tag do %>
  window.allJobs = '<%= @jobs_to_show.to_json.html_safe %>';
<% end %>

<div class="search-container">
  <div class="search-box container">

    <div class="page-title search-box-row row">
      <h3>Find your first developer job</h3>
    </div>

    <div class="stacks search-box-row row">
      <div class="col-4">Show me</div>
      <div class="col-8">
        <div class="row stack-options" id="js-stack-checkboxes">
          <% @stacks.each do |stack| %>
            <div class="col-4">
              <div class="row">
                <div class="stack-checkbox">
                  <%= check_box_tag "stacks[]", stack.id, checked = true, {name: 'js-stacks-cb', value: "js-stacks-cb_#{stack.id}"} -%>
                </div>
                <div class="stack-name">
                  <%= stack.name.downcase.capitalize %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="location-search-container">
      <%= form_tag '/search', :method => 'get' do %>
        <div class="area-search search-box-row row">
          <div class="col-4">
            <%= label_tag(:location_area, "Search by area:") %>
          </div>
          <div class="col-8">
            <%= text_field_tag(:location_area, nil, :placeholder => 'Town, City or Area') %>
          </div>
        </div>

        <div class="postcode-search search-box-row row">
          <div class="col-4">
            <%= label_tag(:location_postcode, "Or postcode:") %>
          </div>
          <div class="col-8">
            <%= text_field_tag(:location_postcode, nil, :placeholder => 'e.g. EC1A 4JA') %>
          </div>
        </div>
        <div class="location-range search-box-row row">
          <div class="col-4">
            <label for="location-dropdown">Within:</label>
          </div>
          <div class="col-8">
            <select name="location-dropdown" id="location-range">
              <option value="2">2 miles</option>
              <option value="5">5 miles</option>
              <option value="10">10 miles</option>
              <option value="25" selected>25 miles</option>
            </select>
            <%= button_tag("Go", class: 'btn btn-primary search-button') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="heading">We have found <span class="accent" id="js-jobs-count"><%= @jobs_to_show.count %></span> jobs</h3>
  <div id="js-job-listings-container">
    <% @jobs_to_show.each do |job| %>
      <div class="job-listing">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="row">
              <div class="col-10">
                <h4 class="job__title"><a href=<%= job["job_link"] %>> <%= job["title"].capitalize %></a></h4>
                <p class="job__company">
                  <%= job["company_name"].capitalize %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-3 col-lg-3 ml-auto">
            <p><%= job["location"] %></p>
          </div>
          <div class="col-10 col-md-3 col-lg-3 ml-auto">
            <p><%= Date.parse(job["published_date"]) < Date.today - 30 ? "Posted over 30 days ago" : "Posted #{time_ago_in_words(job["published_date"]).remove("over")} ago" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
