<%= javascript_tag do %>
  window.allJobs = '<%= @active_jobs_with_company_names.to_json.html_safe %>';
<% end %>

<div class="search-container">
  <div class="search-box">
    <h3>Find your first developer job</h3>
    <div class="stacks row">
      <div class="col-4">Show me</div>
      <div class="col-8">
        <div class="row stack-options" id="js-stack-checkboxes">
          <% @stacks.each do |stack| %>
            <div class="col-4">
              <div class="row">
                <div class="stack-checkbox">
                  <%= check_box_tag "stacks[]", stack.id, checked = true, {name: 'js-stacks-cb', value: "js-stacks-cb_#{stack.id}"} -%>
                </div>
                <div class="stack-name">
                  <%= stack.name.downcase.capitalize %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="location-search-container">
          <%= form_tag '/search', :method => 'get' do %>
            <input type="text" placeholder="Search..">

            <div class="p-3 search-button">
                <div class="col-sm-5 col-lg-4 form-group">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="heading">We have found <span class="accent" id="js-jobs-count"><%= @jobs.count %></span> jobs</h3>
  <div id="js-job-listings-container">
    <% @jobs.each do |job| %>
      <div class="job-listing">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="row">
              <div class="col-2"><img src=<%= image_path('default-company-image.jpg') %> alt="Company Logo" class="img-fluid"></div>
              <div class="col-10">
                <h4 class="job__title"><a href=<%= job.job_link %>> <%= job.title.capitalize %></a></h4>
                <p class="job__company">
                  <%= job.company.name.capitalize %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__technologies"></i><%= job.technologies.map{|t| t.name.capitalize}.join(", ") %></div>
          <div class="col-10 col-md-3 col-lg-3 ml-auto">
            <p><%= job.published_date < Date.today - 30 ? "Posted over 30 days ago" : "Posted #{time_ago_in_words(job.published_date).remove("over")} ago" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
