<% @jobs.each do |job| %>
  <li class="job">
    <div class="job-details-container">

      <div class="job-details">
        <a href=<%= job.job_link %> target="_blank" class="title"><%= job.title.downcase %></a>
        <div class="posted-info">Posted <%= job.posted_days_ago %> by <%= job.company %></div>

        <div class="tags-container">
          <div class="location">
            <div class="location-image"></div>
            <div class="location-text">
              <%= job.location %>
            </div>
          </div>

          <div class="requires-tags">
            <% if job.requires_experience? %>
              <div class="requires-experience tag">Requires experience</div>
            <% end %>

            <% if job.requires_stem_degree? %>
              <div class="requires-stem-degree tag">Requires STEM degree</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>