<div class="user-account-form">
  <div class="page">
    <%= render 'shared/header' %>

    <div class="page-content-wrap">
      <h2 class="title login-title">Forgot your password?</h2>

      <div class="form-container">
        <div class="account-form">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="fields-container">
              <div class="field">
                <%= f.label :email %><br />
                <div class="form-field-container">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
                </div>
              </div>
            </div>

            <div class="actions account-button">
              <%= f.submit "Send me reset password instructions", class: 'shared-button', id: 'send-pwd-instructions' %>
            </div>
          <% end %>

          <div class="account-links">
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </div>
</div>



