<div class="user-sign-up">
  <div class="page">
    <%= render 'shared/header' %>

    <div class="page-content-wrap">
      <h2 class="register-title">Create an account</h2>
      <h3 class="register-sub-title">Full access completely free</h3>

      <div class="form-container">
        <div class="sign-up-form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="fields-container">
              <div class="field">
                <%= f.label :email %><br />
                <div class="form-field-container">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <div class="form-field-container">
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-field" %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <div class="form-field-container">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field" %>
                </div>
              </div>
            </div>

            <div class="actions sign-up-button">
              <%= f.submit "Sign up for free", class: 'shared-button' %>
            </div>
          <% end %>
        </div>
      </div>

      <%#= render "users/shared/links" %>
    </div>

    <%= render 'shared/footer' %>
  </div>
</div>



